<!doctype html>
<html>
<head>
    <title>Map</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU&load=Map,layout.storage,templateLayoutFactory,control.Button,shape.Rectangle,map.Balloon,geometry.pixel.Rectangle,geoObject.addon.balloon,Balloon" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no"/>
    <script type="text/javascript">
        console.log("Started JS subsystem");
        ymaps.ready(init_map);
        var myMap;
        var buttonSize = 48;
        var buttonRadius = buttonSize / 2;
        var buttonX = 10;
        var _ymapZoomPromise = null;

        function openBaloonAtPoint(latitude, longitude, zoom, text) {
            putBaloonWithText([latitude, longitude], text);
            myMap.setCenter([latitude, longitude], zoom, {checkZoomRange: true, duration: 300});
        }

        function putBaloonWithText(coords, address) {
            console.log(coords);
            myMap.balloon.open(coords, {
                content: address,
                images: {
                    closeWidth: 20,
                    closeHeight: 20,
                    close: Golos27App.getIcon(5),
                    placemarkWidth: 32,
                    placemarkHeight: 32,
                    placemark: Golos27App.getIcon(4)
                }
            });
        }

        function zoomLevel() { if (!myMap) return 6; return myMap.getZoom(); }
        function zoom(level) {
            if (!myMap) return;

            if (!_ymapZoomPromise) {
                _ymapZoomPromise = myMap.setZoom(level, {duration: 250})
            }
            else {
                _ymapZoomPromise = _ymapZoomPromise.then(function () {
                    return myMap.setZoom(level, {duration: 250})
                })
            }
        }

        function zoomIn() { zoom(zoomLevel() + 1); }
        function zoomOut() { zoom(zoomLevel() - 1); }
        function has(object, key) { return object ? hasOwnProperty.call(object, key) : false; }

        function init_map() {
            var myPlacemark;
            Golos27App.OnPageLoaded();

            ymaps.layout.storage.add('golos#button',
                ymaps.templateLayoutFactory.createClass(
                    '<div class="buttonTarget" style="\
                        width: $[data.targetWidth]px;\
                        height: $[data.targetHeight]px;">\
                        <div class="button" style="\
                            top: $[data.buttonX]px;\
                            left: $[data.buttonY]px;\
                            width: $[data.targetWidth]px;\
                            height: $[data.targetHeight]px;\
                            border-radius: $[data.targetRadius]px;\
                            background-size: {{data.imageWidth}}px {{data.imageHeight}}px;\
                            background-image: url(data:image/png;base64,{{data.image}});\
                            ">\
                        </div>\
                    </div>'
                )
            );

            ymaps.layout.storage.add('golos#balloon',
                ymaps.templateLayoutFactory.createClass(
                    '<div class="balloon">\
                        <div class="placemark" style="\
                            width: $[images.placemarkWidth]px;\
                            height: $[images.placemarkHeight]px;\
                            background-size: $[images.placemarkWidth]px $[images.placemarkHeight]px;\
                            background-image: url(data:image/png;base64,$[images.placemark]);\
                            ">\
                        </div>\
                        <div class="text">$[content]</div>\
                    </div>', {
                        build: function () {
                            this.constructor.superclass.build.call(this);
                        },
                        getShape: function () {
                            return new ymaps.shape.Rectangle(new ymaps.geometry.pixel.Rectangle([
                                [0, 0], [260, 80]
                            ]));
                        }
                    }
                )
            );

            function createButton(icon, x, y, w, h, r, offsetX, offsetY) {
                var button = new ymaps.control.Button({
                    data: {
                        image: icon,
                        imageWidth: 24,
                        imageHeight: 24,
                        targetWidth: w,
                        targetHeight: h,
                        targetRadius: r,
                        buttonX: offsetX,
                        buttonY: offsetY
                    },
                    options: {
                        layout: 'golos#button',
                        position: { top: y, right: x }
                    }
                });

                myMap.controls.add(button);
                return button;
            }

            var init_address = Golos27App.getInitialAddress();
            var init_latitude = Golos27App.getInitialLatitude();
            var init_longitude = Golos27App.getInitialLongitude();

            myMap = new ymaps.Map('map', {
                center: [init_latitude, init_longitude],
                zoom: 14,
                controls: [],
                behaviors: ["default", "scrollZoom"]
            }, {
                suppressMapOpenBlock: true,
                balloonLayout: 'golos#balloon',
                balloonPanelMaxMapArea: 0,
                balloonOffset: [-136, -93]
            });

            createButton(Golos27App.getIcon(2), buttonX, 10, buttonSize, buttonSize, buttonRadius, 0, 0)
                .events.add('click', function () { zoomIn(); });

            createButton(Golos27App.getIcon(3), buttonX, 70, buttonSize, buttonSize, buttonRadius, 0, 0)
                .events.add('click', function () { zoomOut(); });

            openBaloonAtPoint(init_latitude, init_longitude, 14, init_address);
        }
    </script>
    <style>
        * {
            -webkit-user-select: none;
            -webkit-touch-callout: none;
            -webkit-user-drag: none;
            -webkit-user-modify: unset;
        }

        @font-face {
            font-family: "Roboto";
            src: url('Roboto-Medium.ttf');
        }

        html, body, #map {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            background-color: #ffffff;
        }

        .buttonTarget {
        }

        .buttonTarget:active > .button {
            background-color: lightgrey;
        }

        .button {
            position: relative;
            background-color: white;
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
        }

        .balloon {
            width: 260px;
            height: 80px;
            border-radius: 1px;
            background-color: white;
            display: table;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        }

        .placemark {
            position: absolute;
            top: 66px;
            right: -156px;
        }

        .text {
            padding: 10px 20px 10px 25px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            color: #2b3541;
            font-family: Roboto, Verdana, sans-serif;
            font-size: 16px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div id="map"></div>
</body>
</html>
