<!doctype html>
<html>
<head>
    <title>Map</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no"/>
    <script type="text/javascript">
        ymaps.ready(init_map);
        var myMap;
        var buttonSize = 48;
        var buttonRadius = buttonSize / 2;
        var buttonX = 10;
        var _ymapZoomPromise = null;

        function openBaloonAtPoint(latitude, longitude, zoom) {
            var address = Golos27App.getSavedAddress();
            putBaloonWithText([latitude, longitude], address);
            moveMapToSavedPoint(latitude, longitude, zoom);
        }

        function moveMapTo(latitude, longitude) {
            myMap.setCenter([latitude, longitude], 6, {checkZoomRange: true, duration: 0});
            ymaps.geocode([latitude, longitude], {kind: 'locality'}).then(function (res) {
                myMap.setBounds(res.geoObjects.get(0).properties.get("boundedBy"), {duration: 300});
            });
        }

        function moveMapToPoint(latitude, longitude) {
            return myMap.setCenter([latitude, longitude], 16, {checkZoomRange: true, duration: 300});
        }

        function moveMapToSavedPoint(latitude, longitude, zoom) {
            return myMap.setCenter([latitude, longitude], zoom, {checkZoomRange: true, duration: 300});
        }

        function putBaloonWithText(coords, address) {
            console.log(coords);
            myMap.balloon.open(coords, {
                content: address,
                images: {
                    closeWidth: 20,
                    closeHeight: 20,
                    close: Golos27App.getIcon(5),
                    placemarkWidth: 32,
                    placemarkHeight: 32,
                    placemark: Golos27App.getIcon(4)
                }
            });
        }

        /*! Gets zoom level. */
        function zoomLevel() {
            if (!myMap) return 6;
            return myMap.getZoom();
        }

        /*! Zooms map to the specified level. */
        function zoom(level) {
            if (!myMap) return;

            if (!_ymapZoomPromise) {
                _ymapZoomPromise = myMap.setZoom(level, {duration: 250})
            }
            else {
                _ymapZoomPromise = _ymapZoomPromise.then(function () {
                    return myMap.setZoom(level, {duration: 250})
                })
            }
        }

        /*! Zooms in. */
        function zoomIn() {
            zoom(zoomLevel() + 1);
        }

        function has(object, key) {
            return object ? hasOwnProperty.call(object, key) : false;
        }

        /*! Zooms out. */
        function zoomOut() {
            zoom(zoomLevel() - 1);
        }

        function init_map() {
            var myPlacemark;
            Golos27App.OnPageLoaded();

            ymaps.layout.storage.add('golos#button',
                ymaps.templateLayoutFactory.createClass(
                    '<div class="buttonTarget" style="\
                        width: $[data.targetWidth]px;\
                        height: $[data.targetHeight]px;">\
                        <div class="button" style="\
                            top: $[data.buttonX]px;\
                            left: $[data.buttonY]px;\
                            width: $[data.targetWidth]px;\
                            height: $[data.targetHeight]px;\
                            border-radius: $[data.targetRadius]px;\
                            background-size: {{data.imageWidth}}px {{data.imageHeight}}px;\
                            background-image: url(data:image/png;base64,{{data.image}});\
                            ">\
                        </div>\
                    </div>'
                )
            );

            ymaps.layout.storage.add('golos#balloon',
                ymaps.templateLayoutFactory.createClass(
                    '<div class="balloon">\
                        <div class="balloonClose" style="\
                            background-size: $[images.closeWidth]px $[images.closeHeight]px;\
                            background-image: url(data:image/png;base64,$[images.close]);\
                            ">\
                        </div>\
                        <div class="placemark" style="\
                            width: $[images.placemarkWidth]px;\
                            height: $[images.placemarkHeight]px;\
                            background-size: $[images.placemarkWidth]px $[images.placemarkHeight]px;\
                            background-image: url(data:image/png;base64,$[images.placemark]);\
                            ">\
                        </div>\
                        <div class="text">$[content]</div>\
                    </div>', {
                        build: function () {
                            this.constructor.superclass.build.call(this);

                            this.getElement()
                                .getElementsByClassName('balloonClose')
                                .item(0)
                                .onclick = this.onClose;
                        },
                        onClose: function () {
                            Golos27App.OnLocationData("", "", "", "", "1000000", "1000000", 6);
                            myMap.balloon.close();
                        },
                        getShape: function () {
                            return new ymaps.shape.Rectangle(new ymaps.geometry.pixel.Rectangle([
                                [0, 0], [260, 80]
                            ]));
                        }
                    }
                )
            );

            function createButton(icon, x, y, w, h, r, offsetX, offsetY) {
                var button = new ymaps.control.Button({
                    data: {
                        image: icon,
                        imageWidth: 24,
                        imageHeight: 24,
                        targetWidth: w,
                        targetHeight: h,
                        targetRadius: r,
                        buttonX: offsetX,
                        buttonY: offsetY
                    },
                    options: {
                        layout: 'golos#button',
                        position: { top: y, right: x }
                    }
                });

                myMap.controls.add(button);
                return button;
            }

            myMap = new ymaps.Map('map', {
                center: [48.47655, 135.064308],
                zoom: 10,
                controls: [],
                behaviors: ["default", "scrollZoom"]
            }, {
                suppressMapOpenBlock: true,
                balloonLayout: 'golos#balloon',
                balloonPanelMaxMapArea: 0,
                balloonOffset: [-136, -93]
            });

            createButton(Golos27App.getIcon(1), buttonX, 10, buttonSize, buttonSize, buttonRadius, 0, 0)
                .events
                .add('click', function () {
                    moveToCurrentCoords();
                });

            createButton(Golos27App.getIcon(2), buttonX, 90, buttonSize, buttonSize, buttonRadius, 0, 0)
                .events
                .add('click', function () {
                    zoomIn();
                });

            createButton(Golos27App.getIcon(3), buttonX, 150, buttonSize, buttonSize, buttonRadius, 0, 0)
                .events
                .add('click', function () {
                    zoomOut();
                });

            myMap.events.add('click', function (e) {
                var coords = e.get('coords');
                putBaloon(coords);
            });

            function putBaloon(coords) {
                console.log(coords);
                myMap.balloon.open(coords, {
                    content: 'Поиск...',
                    images: {
                        closeWidth: 20,
                        closeHeight: 20,
                        close: Golos27App.getIcon(5),
                        placemarkWidth: 32,
                        placemarkHeight: 32,
                        placemark: Golos27App.getIcon(4)
                    }
                });

                getAddress(coords);
            }

            function moveToCurrentCoords() {
                var lat = Golos27App.getLatitude();
                var long = Golos27App.getLongitude();

                if (lat != null && long != null) {
                    moveMapToPoint(lat, long).then(function() {
                        putBaloon([lat, long]);
                    });
                }
            }

            // Определяем адрес по координатам (обратное геокодирование)
            function getAddress(coords) {
                ymaps.geocode(coords).then(function (res) {
                    var firstGeoObject = res.geoObjects.get(0);
                    var customAddress = firstGeoObject.properties.get('text');
                    var meta = firstGeoObject.properties.get('metaDataProperty');

                    // Дополнительная информация об адресе
                    var details = meta.GeocoderMetaData.AddressDetails.Country;
                    var region = "";
                    var area = "";
                    var settlement = "";
                    if (details !== null) {
                        if (has(details, 'AdministrativeArea') && has(details.AdministrativeArea, 'AdministrativeAreaName')) {
                            region = details.AdministrativeArea.AdministrativeAreaName;
                            if (has(details.AdministrativeArea, 'SubAdministrativeArea') &&
                                    has(details.AdministrativeArea.SubAdministrativeArea, 'SubAdministrativeAreaName')) {
                                area = details.AdministrativeArea.SubAdministrativeArea.SubAdministrativeAreaName;
                                var sub = details.AdministrativeArea.SubAdministrativeArea;

                                if (has(sub, 'Locality') && (has(sub.Locality, 'LocalityName'))) {
                                    settlement = details.AdministrativeArea.SubAdministrativeArea.Locality.LocalityName;
                                }
                            }
                        }
                    }

                    myMap.balloon.setData({
                        content: customAddress,
                        images: {
                            closeWidth: 20,
                            closeHeight: 20,
                            close: Golos27App.getIcon(5),
                            placemarkWidth: 32,
                            placemarkHeight: 32,
                            placemark: Golos27App.getIcon(4)
                        }
                    });

                    Golos27App.OnLocationData(region, area, settlement, customAddress, coords[0], coords[1], zoomLevel());
                });
            }
        }

    </script>
    <style>
        * {
            -webkit-user-select: none;
            -webkit-touch-callout: none;
            -webkit-user-drag: none;
            -webkit-user-modify: unset;
        }

        @font-face {
            font-family: "Roboto";
            src: url('Roboto-Medium.ttf');
        }

        html, body, #map {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
        background-color: #ffffff;
        }

        .buttonTarget {
        }

        .buttonTarget:active > .button {
            background-color: lightgrey;
        }

        .button {
            position: relative;
            background-color: white;
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
        }

        .balloon {
            width: 260px;
            height: 80px;
            border-radius: 4px;
            background-color: white;
            display: table;
        }

        .balloonClose {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 0;
            right: -260px;
            background-repeat: no-repeat;
            background-position: center;
        }

        .placemark {
            position: absolute;
            top: 66px;
            right: -156px;
        }

        .text {
            padding: 10px 20px 10px 25px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            color: #2b3541;
            font-family: Roboto, Verdana, sans-serif;
            font-size: 16px;
            font-weight: bold;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        }

    </style>
</head>
<body>
<div id="map"></div>
</body>
</html>
